In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

data = pd.read_csv("/Users/tangmeiling/Documents/1-魔蝎/work/Analysis/0-analysis_data/z-apollo_mz_all_duotou_tenant_desc_zhongan_201906_feature_all_1.csv")

In [35]:
print(data.shape)
data[:1]

(247544, 465)

,user_id,org_count,org_count_1d,org_count_3d,org_count_5d,org_count_7d,org_count_15d,org_count_30d,org_count_60d,org_count_90d,...,no_lic_inquiry_detail_org_count_ratio_3d,no_lic_inquiry_detail_org_count_ratio_5d,no_lic_inquiry_detail_org_count_ratio_7d,no_lic_inquiry_detail_org_count_ratio_15d,no_lic_inquiry_detail_org_count_ratio_30d,no_lic_inquiry_detail_org_count_ratio_60d,no_lic_inquiry_detail_org_count_ratio_90d,no_lic_inquiry_detail_org_count_ratio_180d,no_lic_inquiry_detail_org_count_ratio_360d,tag
0,000147be-15e3-4f87-b451-0ac3b51c67a2,39.0,3.0,10.0,11.0,12.0,21.0,21.0,25.0,28.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [36]:
data['tag'].value_counts()

0.0    156027
1.0     50813
0.5     40704
Name: tag, dtype: int64

In [19]:
X = data.drop(['tag'],axis=1).values
y = data['tag'].values
print(X.shape)
print(y.shape)

(247544, 464)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1,stratify=y)
print('Labels counts in y:', np.bincount(y))
print('Labels counts in y_test:', np.bincount(y_test))